.nav-item {
  margin: auto;
  align-content: center;
  max-width: 200px;
  display: flex;
}

.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  margin: auto;
}
